<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

  <typeAliases>
  	<typeAlias type="boardTest.board.model.BoardVo" alias="BoardVo"/>
  	<typeAlias type="boardTest.member.model.MemberVo" alias="MemberVo"/>
  	<typeAlias type="boardTest.boardfile.model.BoardfileVo" alias="FileVo"/>
  	<typeAlias type="boardTest.kind.model.KindVo" alias="KindVo"/>
  	<typeAlias type="boardTest.reply.model.ReplyVo" alias="ReplyVo"/>
  	
  </typeAliases>

  <mappers>
    <mapper resource="app/config/db/mapper/member.xml"/>
    <mapper resource="app/config/db/mapper/board.xml"/>
    <mapper resource="app/config/db/mapper/file.xml"/>
    <mapper resource="app/config/db/mapper/kind.xml"/>
    <mapper resource="app/config/db/mapper/reply.xml"/>
  </mappers>
</configuration>