<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
  	<typeAlias type="boardTest.member.model.MemberVo" alias="MemberVo"/>
  	<typeAlias type="boardTest.kind.model.KindVo" alias="KindVo"/>
  	<typeAlias type="boardTest.board.model.BoardVo" alias="BoardVo"/>
  	<typeAlias type="boardTest.reply.model.ReplyVo" alias="ReplyVo"/>
  	<typeAlias type="boardTest.boardfile.model.BoardfileVo" alias="FileVo"/>
  </typeAliases>
  
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@localhost:1521/xe"/>
        <property name="username" value="whc_test"/>
        <property name="password" value="java"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="kr/or/ddit/db/mapper/member.xml"/>
    <mapper resource="kr/or/ddit/db/mapper/kind.xml"/>
    <mapper resource="kr/or/ddit/db/mapper/board.xml"/>
    <mapper resource="kr/or/ddit/db/mapper/reply.xml"/>
    <mapper resource="kr/or/ddit/db/mapper/file.xml"/>
  </mappers>
</configuration>